<app-header></app-header>

<section class="resultContainer" id="resultContainer">

    <img class="result" (click)="close()" id="result" src="" alt="">

</section>

<section class="divStyle">


<div class="divStyle rounded">
    <input type="search" id="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>

</section>

<div id="carouselExampleControls" class="carouselStyle carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card" style="width: 18rem;">
    <img src="{{data[0].url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{data[0].name}}</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="{{data[1].url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{data[1].name}}</h5>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
    <img src="{{data[2].url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{data[2].name}}</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="{{data[3].url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{data[3].name}}</h5>
      
    </div>
          </div>
      
      </div>
      </div>
     
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
