.carouselStyle {

    margin-top: 7em;

}

.divStyle {

    display: flex;
    justify-content: center;
    margin-top: 3em;
}

input{

    width: 300px !important;

}

.resultContainer {

    display: none;
    justify-content: center;
    position: relative;

}

.result {

    position: fixed;
    z-index: 60;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
}

